{% include 'main.html' %}
{% block content %}
{% endblock %}
<section>
    <h1>Cart</h1>
    <br>
    <br>
    
    <div class="card mb-1 g-4" style="max-width: 100%; height:  80vh; padding: 5%; border: none;">
        {% if form %}
        {% for i in form%}
        <div class="row g-4">
            <div class="col-md-4 col-sm-12" style="padding-right: 5%;">
                <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="card-body">
                    <form  action="{% url 'order' i.product.id %}" method="POST">
                        {% csrf_token %}
                        <h5 class="card-title">{{ i.name }}</h5>
                        <h6 class="card-text" style="color:goldenrod;">Price: ₹ {{ i.price}}</h6>
                        <p class="card-text">{{ i.detail }}</p>
                        <p class="card-text" style="color:darkblue;">Selected Quantity: {{ i.quantity }}</p>
                        <p class="card-text" style="color:green;">Total price: {{ i.totalprice}}</p>
                        <br>
                        <button name="buyvalue" class="btn btn-primary" value="{{i.quantity}}">Buy Now</button>
                    </form>
                    <a class="btn btn-danger" href="{% url 'removecart' i.id %}">Remove cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <center><h3 style="color: red;">Your cart is Empty</h3></center>
        {% endif %}
    </div>
</section>
