{% include 'main.html' %}
{% block content %}
{% endblock %}

<section class="product" id="product">
    <center><h3>Our Products Category</h3></center>
    <br>
    <br>
    
     <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in form %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ i.image.url }}" class="card-img-top" alt="veg" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{ i.name }}</h5>
                    <a href="{% url 'subcategory' i.id %}" class="btn btn-primary">View products</a>
                </div>
            </div>
        </div> 
        {% endfor %}
     </div>
</section>
