{% load static %}
{% include 'main.html' %}
{% block content %}
{% endblock %}
   <!--home-->

   <section class="Home" id="Home">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" class="bg-dark" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4" class="bg-dark" aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{% static 'coa.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="{% static 'co2.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="{% static 'co3.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="{% static 'co4.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="{% static 'co5.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>


<section class="product" id="product">
    <center><h3>Our Products</h3></center>
    <center><h1>New Arraival's</h1></center>
    <br>
    <br>
     <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in form %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ i.image.url }}" class="card-img-top" alt=".." width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{ i.name }}</h5>
                    <p class="card-text">
                        <div class="stars" style="text-align: center;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </p>
                    <span style="text-align: left; color: green; font-weight:bold; padding-right: 150px; font-size: 30px;">₹{{ i.price }}</span>
                    <a href="{% url 'viewproduct' i.id %}" class="btn btn-primary">View product</a>
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
</section>
